/* Selectors Exercise */
body {
    background-color: #CED4D8;
}
/* Heading Element */
h1 {
   background-color: #AC6AC7; 
}
/* H2 elements same color */
h2 {
    color: rgb(255,165,0)
}
/* li elements blue */
li {
    color:dodgerblue;
}
/* Paragraph Gold */
p{
    background-color:goldenrod;
}
/* Inputs text or email pink dotted */
input {
    border: 5px dotted pink;
  }
  /* /* Class first and fff backgound */
p.first {
    background-color: #fff;
}

/* Exercise 9 */
#important {
    border: 3px dashed #0000ff;
}

/* Exercise 10 */
div p {
font-size: 30px;
}
    /*Exercise 11  */
    input[type="email"]{
        background-color: #808080;
      }

    /* Exercise 12 */
    div:nth-of-type(3) p {
        background-color: hotpink;
      }
    /* OR */
    /* div:nth-child    (5) p {
     background-color  : hotpink;
    } */

      /* Exercise 13*/
      div:nth-of-type(3) > p:nth-of-type(2) {
        border: 7px solid rgb(255, 255, 255);
      } 
      /* OR
div:nth-child(5) > p:last-child {
    border: 7px solid rgb(255, 255, 255);
  } */
/* Exercise 14 */
em {
    color: seashell; font-size: 25px; 
}
/* or */
/* div:nth-of-type(3) p > em {
  font-size: 25px;
  color: seashell;
} */

/* Bonus */
/* 1  */
input[type="checkbox"]:checked {
    margin-left: 40px;
}

/* 2 */
label {
    text-transform: lowercase;
}
/* 3 */
#imporant::first-letter {
    color: lime; font-size: 90px;
}
/* 4 */
h1:hover {
    color: navy;
}
/* 5 */
a:visited {
    color: silver;
}
